.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-align: right;
  font-size: 14px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.source-code a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 2px 0;
}

.source-code a:hover {
  color: #007bff;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .footer {
    position: static; /* Make the footer flow with the content on mobile */
    width: 100%; /* Ensure it spans the width of the screen */
    text-align: center; /* Center-align the text for mobile aesthetics */
  }
}
